PORT=8010
NODE_ENV="production"

AWS_ACCESS_KEY_ID=ASFJASfamskflaksmfa
AWS_SECRET_ACCESS_KEY=24891249812fas/asfjkasjf9123424mn1
AWS_REGION=us-east-1
AWS_BUCKET=mybucket41241

SQS_EVENT_NOTIFICATION_QUEUE=https://sqs.us-east-1.amazonaws.com/241321155959/LambdaStack-UploadQueueA4421744-X3KuaDKRxq8I.fifo
SQS_UPLOAD_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/241321155959/LambdaStack-MediaConvertOnUploadQueue506DD68F-unQiQN521zbK
MEDIA_CONVERT_ROLE_ARN=arn:aws:iam::241321155959:role/LambdaStack-MediaConvertRole031A64A9-wyZN86t5MHeT
SQS_MEDIA_CONVERT_FINISH_QUEUE=arn:aws:mediaconvert:us-east-1:241321155959:queues/MediaConvertQueue
BUCKET_NAME=mybucket41241
STRIP_ERROR_VALIDATION=false